# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

src/main/resources/config.properties
kafka-producer-twitter/src/main/resources/config.properties
kafka-consumer-elasticsearch/src/main/resources/config.properties
kafka-connect/twitter.properties